#body {
	width: 90%;
	margin: auto;
}

.slimcontent {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 10px;
	width: 90%;
}

.slimb-left,
.slimb-right {
	display: flex;
	column-gap: 20px;
	font-size: 12px;
	color: #bac0cab5;
	text-transform: capitalize;
}

.vhr {
	width: 1px;
	height: 100%;
	color: #bac0cab5;
}

.dis-more {
	text-decoration: 1px solid underline;
	color: #090a0a;
	font-weight: bold;
}

/*Top Nav*/

.top-nav {
	width: 100%;
	height: 10%;
	background-color: transparent;
	position: relative;
}

.logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	/* border-top: .7px solid #111111; */
	padding: 20px 40px;
}

nav,
.login-cart {
	width: 50%;
}

#nav-and-products {
	display: flex;
	align-items: center;
}

.products {
	width: 100%;
}

.cart-box {
	width: 100px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.cart-box:hover {
	background-color: whitesmoke;
}

.cart-box p {
	background-color: #111111;
	padding: 2px 5px;
	color: white;
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.login-cart {
	display: flex;
	align-items: center;
	justify-content: right;
	column-gap: 20px;
}

.login-cart img {
	width: 30px;
	height: 30px;
}

nav ul {
	display: none;
	align-items: center;
	column-gap: 40px;
	list-style: none;
}

nav ul li {
	color: #111111;
	font-size: 16px;
}

.menu {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.logo {
	cursor: pointer;
	color: #111111;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	/* border: 2px solid #111111; */
	padding: 10px;
	outline-offset: 2px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.login {
	width: 100px;
	height: 40px;
	border-radius: 3px;
	border: none;
	background-color: transparent;
	border: 2px solid #111111;
	color: #111111;
	cursor: pointer;
	font-weight: 600;
}

.menu-box {
	background-color: white;
	width: 300px;
	height: 100%;
	position: fixed;
	z-index: 499420942429292;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 0px 100vw #1111116a;
	display: none;
}

.cancel {
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0.6;
}

.cancel:hover {
	opacity: 1;
}

.menu-heading {
	background-color: #111111;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-heading h1 {
	color: #fbe053;
	font-size: 20px;
}

.main-menu {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
	width: 100%;
	z-index: -2;
}

.menu-cat {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menu-cat h1 {
	font-weight: 500;
	background-color: #f4f4f6;
	padding: 10px;
}

#kk {
	display: flex;
	flex-direction: column;
}

#kk a {
	font-size: 20px;
	min-width: 100%;
	padding: 15px 0px;
	/* border-bottom: 0.5px solid #11111123; */
	border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

#kk a:hover {
	text-decoration: 2px solid underline #111111;
	text-underline-offset: 10px;
}

.search-section {
	width: auto;
	height: 40px;
	display: flex;
	column-gap: 10px;
	bottom: 30px;
	background-color: transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 2px;
}

.search {
	width: 90%;
	height: 100%;
	padding: 5px 5px 5px 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	/*background-color: transparent;
    */
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.search:focus {
	background-color: white;
	border: 1px solid #11111190;
	outline: none;
}

#search-entry {
	font-size: 25px;
	color: blueviolet;
}

.go {
	width: 50px;
	height: 100%;
	background-color: #111111;
	color: white;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.searchcontainer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: white;
	z-index: 468969826896078458758715478578458752;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur(10px);
	display: none;
	top: 0;
	left: 0;
}

.search-mainbox {
	width: 70%;
	height: auto;
	/* background-color: white; */
	padding: 20px;
}

.searchbox,
.suggestion {
	width: 100%;
	height: auto;
	max-height: 50vh;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: auto;
	background-color: white;
	padding: 20px;
	overflow: hidden;
}

.sug-holder {
	overflow-y: scroll;
}

#search {
	height: 45px;
	padding: 5px 20px;
	background-color: white;
	border: 2px solid #111111;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
#GO {
	width: 100%;
	height: 45px;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

#GO:hover {
	background-color: #111111cd;
}

.suggestion {
	margin-top: 20px;
}

.sug {
	display: flex;
	align-items: center;
	column-gap: 20px;
	padding: 15px 20px;
	cursor: pointer;
}

.sug img {
	width: 15px;
}

.sug:hover {
	background-color: whitesmoke;
}

#sug-h1 {
	font-size: 20px;
}

.category {
	color: grey;
}

.dot {
	width: 7px;
	height: 7px;
	background-color: rgba(128, 128, 128, 0.706);
	align-self: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

/*Product Body*/

.noti-img {
	width: 25px;
	min-width: 25px;
	height: 25px;
	min-height: 25px;
}

.notification {
	background-color: #81ffb5;
	width: 100%;
	height: 60px;
	/* border: 1px solid #368e5b9c; */
	box-shadow: 0px 10px 20px -10px #0a59545d;
	border-radius: 3px;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	column-gap: 15px;
	align-items: center;
	overflow: hidden;
	margin-top: 10px;
}

.notification p,
.notification strong {
	color: #000006;
	font-weight: 600;
}

.notification strong {
	color: #a73ef8;
}

.notify-box {
	width: 500px;
	max-height: 280px;
	overflow-y: hidden;
	height: auto;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
	z-index: 9283920282;
	border-radius: 3px;
	/*box-shadow: 0px -20px 30px -20px whitesmoke inset;
	*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#notify-box {
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	right: 0;
}

.off {
	animation: notefadeout 0.7s ease;
	-webkit-animation: notefadeout 0.7s ease;
}

.on {
	animation: notefadein 0.7s ease;
	-webkit-animation: notefadein 0.7s ease;
}

.complete-off {
	opacity: 0;
}

.die {
	display: none;
}

@keyframes notefadein {
	0% {
		opacity: 0;
		margin-top: 0px;
	}

	100% {
		opacity: 1;
		margin-top: 10px;
	}
}

@keyframes notefadeout {
	0% {
		opacity: 1;
		margin-top: 10px;
	}

	100% {
		opacity: 0;
		margin-top: -10px;
	}
}

.body {
	margin-top: 30px;
	width: 100%;
	display: flex;
	column-gap: 50px;
	padding: 50px 0px 50px 10px;
}

.image {
	width: 45%;
	height: 100%;

	/* padding: 50px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	top: 20px;
	row-gap: 30px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.image img {
	width: 90%;
}

.img-con {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-cont {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 90%;
	width: 90%;
}

.image-thumbnail {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	overflow: hidden;
	width: 100%;
	height: 100px;
	padding: 10px;
}

.image-thumbnail button {
	width: 60px;
	height: 100%;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 5px 10px;
	cursor: pointer;
	opacity: 0.5;
}

.image-thumbnail button:hover {
	background-color: whitesmoke;
	opacity: 1;
}

#lbtn {
	background-image: url(../images/goleft.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#rbtn {
	background-image: url(../images/goright.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.tbs {
	width: auto;
	height: 100%;
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0px;
	/* background-color: #090a0a09; */
	padding: 0px 20px;
}

.tbs img {
	width: 70px;
	height: 100%;
}

.tbcon {
	opacity: 0.5;
	min-width: 100px;
	padding: 10px;
}

.tbnactive {
	border: 2px solid #111111;
	opacity: 1;
	outline-offset: 5px;
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
}

.tbcon {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	/* background-image: url(../images/ipad1.jpg); */
}

.tbcon-in {
	width: 90%;
	height: 90%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.tbs::-webkit-scrollbar {
	display: none;
}

.product-detail {
	width: 40%;
}

.product-details h1 {
	font-size: 40px;
	font-weight: 600;
	color: #090a0a;
}

.product-details {
	width: 40%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.specifications {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.specifications p {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.specifications span {
	text-align: left;
	width: 40%;
	font-weight: 500;
}

.sep {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

strong {
	font-weight: 700;
}

.product-details h2 {
	font-weight: 600;
	font-size: 17px;
	color: #a73ef8;
}

.other-colors {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.other-colors h1 {
	font-size: 14px;
}

.circles {
	display: flex;
	column-gap: 10px;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	outline: 1px solid transparent;
	outline-offset: 2px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.circle:hover,
.active2 {
	outline: 2px dashed #090a0a;
	cursor: pointer;
}

#circle1 {
	background-color: #65645f;
}

#circle2 {
	background-color: #f2f4ed;
}

#circle3 {
	background-color: #f6e3c8;
}

#circle4 {
	background-color: #99b3cc;
}

.color-picked {
	display: flex;
	column-gap: 10px;
}

.color-picked h2 {
	font-weight: 500;
	font-size: 14px;
	color: #090a0a;
}

.qty {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.qty h2 {
	color: #090a0a;
	font-size: 14px;
}

.quantity {
	width: auto;
	height: 40px;
	display: flex;
	column-gap: 5px;
}

.quantity button,
.quantity input {
	height: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	outline: none;
}

.quantity button {
	background-color: transparent;
	border: 1px solid transparent;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 25px;
	cursor: pointer;
}

.quantity button:hover {
	background-color: whitesmoke;
}

.quantity input {
	padding: 10px;
	width: 100px;
	font-size: 20px;
	text-align: center;
	border: 2px solid #111111;
}

.shipping-pickup {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.Pickup ul {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	list-style: none;
}

.Pickup ul li {
	display: flex;
	column-gap: 10px;
}

.Pickup ul li span {
	min-width: 2px;
	max-width: 2px;
	height: 100%;
	max-height: 20px;
	background-color: #111111;
	border: none;
}

.Pickup {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.Pickup h1 {
	font-size: 16px;
}

.add-buy {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid rgba(112, 128, 144, 0.31);
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-bottom-left-radius: 3px;
	height: auto;
	padding: 20px;
	position: relative;
	/* box-shadow: 0px 15px 30px -25px #090a0a94; */
}

.price-tag {
	width: auto;
	background-color: #a73ef8;
	display: flex;
	column-gap: 5px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.price {
	font-size: 25px;
	width: 100%;
	text-align: center;
	color: white;
}

.currency {
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.add-cart-content {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.to-cart-buy button:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 16px 0px;
	cursor: pointer;
}

.o-time {
	color: rgb(3, 114, 77);
}

.to-cart-buy {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.add-to-cart,
.buy-now {
	width: 100%;
	height: 50px;
	border: 2px solid #090a0a;
	background-color: white;
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.buy-now {
	background-color: #090a0a;
	color: white;
}

/*Descriptions*/

.descriptions {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 50px;
}

.drop-box {
	width: 100%;
	height: auto;
}

.group-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 20px;
	border: 2px solid #11111114;
	position: sticky;
	top: 20px;
}

.group-head:hover {
	border: 2px solid #111111;
}

.activegrouphead {
	border: 2px solid #111111;
	/* box-shadow: #0000004f 0px 15px 20px -10px; */
}

.group-head h1 {
	font-size: 25px;
	font-weight: 700;
}

.group-head img {
	width: 30px;
	height: 30px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.table {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: auto;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.levels {
	width: 100%;
	display: flex;
	height: auto;
	padding: 30px 20px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}

.row-title {
	width: 25%;
	height: auto;
	display: flex;
	font-size: 25px;
	font-weight: 400;
}

.row-content {
	width: 75%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: auto;
}

.group-content h2 {
	font-weight: 700;
}

.tables {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	height: auto;
}

.tab {
	display: flex;
	justify-content: space-between;
	/*border-bottom: 1px dashed rgba(128, 128, 128, 0.256);
    padding-bottom: 10px;
    */
	background-color: #090a0a09;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.tab h2,
.tab p {
	width: 50%;
	text-align: start;
	display: flex;
	align-items: center;
}

footer {
	background-color: #3c586b1f;
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#largeImage2 {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
	*::-webkit-scrollbar {
		display: none;
	}
	.menu-box {
		width: 100%;
	}

	.notify-box {
		width: 90vw;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	.shop-body {
		padding: 0;
	}
	#mob-logo {
		display: block;
	}

	#kk li {
		font-size: 20px;
	}

	#web-logo {
		display: none;
	}

	.logo {
		font-size: 1rem;
		border: none;
		outline: none;
	}

	.cart-box:hover {
		background-color: whitesmoke;
	}

	.search:focus,
	#search:focus {
		background-color: transparent;
	}

	.top-nav {
		padding: 0px 0px;
		width: 100%;
		margin: auto;
	}

	.login-cart {
		align-items: center;
	}

	.account {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo-nav {
		padding: 15px 0px;
	}

	#nav-and-products {
		column-gap: 15px;
	}

	.products {
		display: none;
	}

	.search-web {
		display: none;
	}

	.search-mobile {
		height: 45px;
		border: 1px solid #111111;
	}

	.login-cart {
		column-gap: 0px;
	}

	.login-cart img {
		width: 20px;
		height: 20px;
	}

	.login {
		display: none;
	}

	.cart-box {
		width: auto;
		height: auto;
		padding: 10px;
	}

	.cart-box:hover {
		background-color: whitesmoke;
	}

	.searchcontainer {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 10px;
		background-color: white;
	}

	.searchbox {
		padding-top: 10px;
		width: 100%;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img {
		height: 20px;
		width: 20px;
	}

	.search-mainbox {
		width: 100%;
		/* background-color: white; */
		padding: 0px;
	}

	.suggestion {
		margin-top: 0;
		padding: 0px 20px 20px 20px;
	}

	.sug {
		padding: 10px 0px;
	}

	.search-cancel img:hover {
		padding: 2px;
	}

	.body {
		flex-direction: column;
		/* display: grid;

		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;

		gap: 20px;
		height: 100%; */
		row-gap: 40px;
		margin-top: 2vh;
		padding: 0;
	}

	.image {
		width: 100%;
		position: relative;
		justify-content: space-between;
		row-gap: 0px;
		height: auto;
		max-height: 80vh;
		/* grid-row-start: 1;
		grid-column-start: 1;

		grid-row-end: 3;
		grid-column-end: 2;
		width: 100%; */
	}

	#lbtn,
	#rbtn {
		padding: 0;
		background-size: 30px;
	}

	.image-thumbnail {
		padding: 10px 0px 10px 0px;
	}

	/* .image img,
	#lImg {
		min-height: 350px;
		max-height: 350px;
		max-width: 500px;
	} */

	.image img {
		display: none;
	}

	.tbcon {
		min-width: 100px;
	}

	#thumbnailPanel {
		column-gap: 0px;
		min-height: 100px;
	}

	.product-details-container {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		width: 100%;
		background-color: whitesmoke;
		padding: 20px;
	}

	.product-details {
		width: 100%;
		/* width: 100%;
		grid-row-start: 1;
		grid-column-start: 2;

		grid-row-end: 2;
		grid-column-end: 3; */
	}

	.product-details h1 {
	}

	#abt {
		top: 70px;
	}

	.add-buy {
		width: 100%;
		padding: 0;
		border: none;
		/* grid-row-start: 2;
		grid-column-start: 2;

		grid-row-end: 3;
		grid-column-end: 3; */
	}

	.price-tag {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.descriptions {
		padding: 0px;
		margin-top: 40px;
	}

	.row-title {
		width: auto;
		font-size: 23px;
		font-weight: 500;
		color: #111111;
	}

	.Pickup {
		margin-top: 30px;
	}

	.Pickup h1 {
		font-size: 18px;
	}

	.levels {
		flex-direction: column;
		row-gap: 30px;
	}

	.row-content {
		width: 100%;
	}

	.group-head {
		cursor: pointer;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	#body {
		width: 95%;
	}

	#mob-logo {
		display: block;
	}

	#kk li {
		font-size: 20px;
	}

	#web-logo {
		display: none;
		margin: 0;
		justify-self: center;
		width: auto;
		height: auto;
		padding: 0;
		transform: translateX(50%);
		top: 50%;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-ms-transform: translateX(50%);
		-o-transform: translateX(50%);
	}

	.justme {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.logo {
		font-size: 1.3rem;
		border: none;
		outline: none;
	}

	.cart-box:hover {
		background-color: whitesmoke;
	}

	.search:focus,
	#search:focus {
		background-color: transparent;
	}

	.top-nav {
		padding: 0px 0px;
		width: 95%;
		margin: auto;
	}

	.login-cart {
		display: flex;
		align-items: center;
		width: auto;
	}

	.account {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo-nav {
		padding: 15px 0px;
		position: relative;
		min-width: 95%;
	}

	#nav-and-products {
		column-gap: 15px;
		width: auto;
	}

	.products {
		display: none;
	}

	.search-web {
		display: none;
	}

	.search-mobile {
		height: 45px;
		border: 1px solid #111111;
	}

	.login-cart {
		column-gap: 20px;
	}

	.login-cart img {
		width: 20px;
		height: 20px;
	}

	.login {
		display: none;
	}

	.account {
		display: flex;
	}

	.cart-box {
		width: auto;
		height: auto;
		padding: 10px;
	}

	.searchbox {
		width: 100%;
	}

	.search-mobile {
		display: none;
		border: none;
	}

	.search {
		width: 100%;
		padding: 5px 10px;
		border: none;
		box-shadow: none;
	}

	.search:hover,
	.search:focus {
		border: none;
	}

	.serc-img img {
		width: 20px;
		height: 20px;
	}

	.serc-img {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-web {
		padding: 0px;
		width: 150px;
		padding: none;
		display: flex;
		column-gap: 0px;
		align-items: center;
		border: 1px solid #11111135;
	}

	#searc-cart {
		display: none;
		width: auto;
		padding: 15px;
		position: relative;
		/* background-image: url(../images/search.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat; */
	}

	.search-mainbox {
		width: 90%;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img:hover {
		padding: 4px;
	}

	.search-cancel img {
		width: 30px;
		height: 30px;
		float: right;
	}

	#body {
		max-width: 2000px;
		margin: auto;
	}

	.top-nav {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0%;
		top: 0;
		margin: auto;
		padding: 0px;
	}

	.logo-nav {
		width: 90%;
		padding: 0px;
	}

	/*SHOW BOX*/
	.body {
		/* display: grid;

		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;

		gap: 20px;
		height: 100%; */
		column-gap: 20px;
		margin-top: 5vh;
	}

	.image {
		width: 50%;
		max-height: 85vh;
		min-height: 85vh;
		row-gap: 0;
		/* grid-row-start: 1;
		grid-column-start: 1;

		grid-row-end: 3;
		grid-column-end: 2;
		width: 100%; */
	}

	.image img {
		/* max-height: calc(inherit - 200); */
	}

	#largeImage {
		display: none;
	}

	#lImg {
		display: flex;
		min-height: 75vh;
		max-height: 1000px;
	}

	.image-thumbnail {
		min-height: 100px;
		max-height: 100px;
		overflow-y: hidden;
	}

	#thumbnailPanel {
		column-gap: 20px;
	}

	.tbcon {
		min-height: 80px;
		max-height: 80px;
		min-width: 80px;
		max-width: 80px;
	}

	#lbtn,
	#rbtn {
		background-size: 70%;
	}

	.product-details-container {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 50%;
	}

	.product-details {
		width: 100%;
		/* width: 100%;
		grid-row-start: 1;
		grid-column-start: 2;

		grid-row-end: 2;
		grid-column-end: 3; */
	}
	.add-buy {
		width: 100%;
		padding: 0;
		border: none;
		/* grid-row-start: 2;
		grid-column-start: 2;

		grid-row-end: 3;
		grid-column-end: 3; */
	}

	.price-tag {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.descriptions {
		padding: 0px;
	}

	.group-head {
		cursor: pointer;
	}
}

@media screen and (min-width: 1201px) {
	#body {
		width: 95%;
	}

	.body {
		margin-top: 70px;
	}

	#mob-logo {
		display: none;
	}

	#kk li {
		font-size: 20px;
	}

	.search-mobile,
	.account {
		display: none;
		border: none;
	}

	.search {
		width: 100%;
		padding: 5px 10px;
		border: none;
		box-shadow: none;
	}

	.search:hover,
	.search:focus {
		border: none;
	}

	.serc-img img {
		width: 20px;
		height: 20px;
	}

	.serc-img {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-web {
		padding: 0px;
		width: 150px;
		padding: none;
		display: flex;
		column-gap: 0px;
		align-items: center;
		border: 1px solid #11111135;
	}

	#searc-cart {
		display: none;
		width: auto;
		padding: 15px;
		position: relative;
		/* background-image: url(../images/search.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat; */
	}

	.search-mainbox {
		width: 90%;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img:hover {
		padding: 4px;
	}

	.search-cancel img {
		width: 30px;
		height: 30px;
		float: right;
	}

	#body {
		max-width: 2000px;
		margin: auto;
	}

	.top-nav {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0%;
		top: 0;
		margin: auto;
		padding: 0px;
	}

	.logo-nav {
		width: 95%;
		padding: 0px;
	}

	/*SHOW BOX*/
	.body {
		/* display: grid;

		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;

		gap: 20px;
		height: 100%; */
		column-gap: 20px;
		margin-top: 5vh;
	}

	.image {
		width: 40%;
		max-height: 85vh;
		min-height: 85vh;
		row-gap: 0;
		/* grid-row-start: 1;
		grid-column-start: 1;

		grid-row-end: 3;
		grid-column-end: 2;
		width: 100%; */
	}

	.image img {
		/* max-height: calc(inherit - 200); */
	}

	#largeImage {
		display: none;
	}

	#lImg {
		display: flex;
		min-height: 70vh;
		max-height: 1000px;
	}

	.image-thumbnail {
		min-height: 100px;
		max-height: 100px;
		overflow-y: hidden;
	}

	#thumbnailPanel {
		column-gap: 20px;
	}

	.tbcon {
		min-height: 80px;
		max-height: 80px;
		min-width: 80px;
		max-width: 80px;
	}

	#lbtn,
	#rbtn {
		background-size: 70%;
	}

	.product-details-container {
		display: flex;
		flex-direction: row;
		gap: 20px;
		width: 60%;
		background-color: whitesmoke;
		padding: 20px;
	}

	.product-details {
		width: 100%;
		/* width: 100%;
		grid-row-start: 1;
		grid-column-start: 2;

		grid-row-end: 2;
		grid-column-end: 3; */
	}

	.add-to-cart {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 16px 0px;
	}

	.add-buy {
		width: 50%;
		padding: 0;
		border: none;
		position: sticky;
		top: 50px;
		/* grid-row-start: 2;
		grid-column-start: 2;

		grid-row-end: 3;
		grid-column-end: 3; */
	}

	.price-tag {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.descriptions {
		padding: 0px;
	}

	.group-head {
		cursor: pointer;
	}
}
