/* @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Bitter&family=Cabin&family=League+Spartan&family=Rubik&display=swap'); */

*::-webkit-scrollbar{width: 0px;}
*::-webkit-scrollbar-thumb{width: 0px;}
*::-webkit-scrollbar-track{width: 0px;}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    color: #090A0A;
    font-weight: 400;
    font-size: 13px;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    /* background-color: #0a595414; */
    width: 100%;
    height: 100vh;
}

#body{
    width: 100%;
    height: 100%;
    margin: auto;
}   

.slimbanner{
    background-color: whitesmoke;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slimcontent{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.slimb-left, .slimb-right{
    display: flex;
    column-gap: 20px;
    font-size: 12px;
    color: #bac0cab5;
    text-transform: capitalize;
}

.vhr{
    width: 1px;
    height: 100%;
    color: #bac0cab5;
}

.dis-more{
    text-decoration:1px solid underline;
    color: #090A0A;
    font-weight: bold;
}


/*Top Nav*/

.top-nav{
    width: 100%;
    height:80px;
    background-color:white;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    /* border-top: .7px solid #090A0A; */
    border-bottom: .7px solid #090a0a32;
    padding: 20px 10px;
}

nav, .login-cart{
    width: 50%;
}

#nav-and-products{
    display: flex;
    align-items: center;
}
.products ul{
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
    width: 100% inherit;
}

.products ul li{
    font-weight: 600;
}

.products{
    width: 100%;
}

.cart-box {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.cart-box:hover{
    background-color: #090a0a1b;
    cursor: pointer;
}

.cart-box p {
    background-color: #a73ef8;
    padding: 2px 5px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.login-cart{
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
}

.login-cart img{
    width: 30px;
    height: 30px;
}

nav ul{
    display: none;
    align-items: center;
    column-gap: 40px;
    list-style: none;
}

nav ul li{
    color:#090A0A;
    font-size: 13px;
}

.menu{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#menu ul li{
    text-align: center;
    font-size: 15px;
    color: white;
}

#menu{
    background-color:#090A0A;
    box-shadow: 5px 30px 40px -20px #090a0a6e;
    width: 100%;
    height: 0px;
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#close{
    position: absolute;
    top: 27px;
    left: 15px;
    width: 25px;
    height: 25px;
}

#logo2{
    color: white;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: 2px solid white;
    outline-offset: 2px;
    height: auto;
    top:0;
}

.logo{
    cursor: pointer;
    color:#090A0A;
    font-family: "lato";
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #090A0A;
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: 2px solid #090A0A;
    outline-offset: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:white;
    border: 2px solid #090A0A;
    color: #090A0A;
    cursor: pointer;
    font-weight: 600;
}

.search-section{
    width: auto;
    height: 40px;
    display: flex;
    column-gap: 10px;
    bottom: 30px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2px;
}

.search{
    width: 90%;
    height: 100%;
    padding: 5px 5px 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*background-color: transparent;
    */background-color: white;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    outline: none;
}

.search:hover,.search:focus{
    background-color: white;
    border: 1px solid #090a0a90;
}

.go{
    width: 50px;
    height: 100%;
    background-color: #090A0A;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/*Top Nav End*/

.cart-body{
    background-color: transparent;
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px ;
    margin-top: 20px;
}

.cart-top{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

.head{
    font-size: 30px;
    font-weight: 500;
}

.total-checkout{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.sub-total-head, .sub-total-head span{
    font-size: 18px;
    font-weight: 500;
}

.amount{
    font-size: 18px;
    font-weight: 600;
    color: #086948;
}

.check-out{
    background-color: #090A0A;
    color: white;
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}

.continue{
    background-color: white;
    color: #090A0A;
    padding: 10px 30px;
    border: 2px solid #090A0A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 400;
} 

.cart-full-details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding:0px 10px;
    position: relative;
}

.orders-in-cart{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    height: auto;
    padding: 20px;
    /* border: 1px solid rgba(128, 128, 128, 0.365); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
 
.orders-in-cart h2{
    font-weight: 600;
}

.empty-cart{
    top: 50%;
    bottom: 50%;
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
    padding: 15px 30px;
    border: 2px dashed grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.empty-cart p{
    font-size: 17px;
    font-weight: 600;
}

.order{
    display: flex;
    column-gap: 30px;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    position: relative;
    border-left: 3px solid #090A0A;
    /*border-right: 3px solid rgba(93, 82, 197, 0.843);*/
    padding: 25px 25px 25px 25px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:all .2s ease-in-out ;
    -webkit-transition:all .2s ease-in-out ;
    -moz-transition:all .2s ease-in-out ;
    -ms-transition:all .2s ease-in-out ;
    -o-transition:all .2s ease-in-out ;
}

.order:hover{
    background-color: #495a5a0c;
}

.order img{
    width: 180px;
    height: 100%;
}

.order-info, .info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.numbering{
    background-color: #090A0A;
    color: aliceblue;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.item-name{
    font-size: 17px;
    font-weight: 600;
}

.item-title{
    color: #a73ef8;
}

.qty{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.quantity{
    width: auto;
    height: 40px;
    display: flex;
    column-gap: 10px;
}

.quantity button, .quantity input{
    height: 100%;
    border-radius: 3px;
    border: 1px solid #090a0a4b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: transparent;
}

.quantity button{
    background-color: transparent;
    border: 1px solid #090a0a4b;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    color: #090A0A;
    cursor: pointer;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}


.quantity button:hover{
    background-color: #0869493a;
    border: 1px solid transparent;
}

.quantity button:active{
    background-color: white;
    transition-duration: .05s;
}

.quantity input{
    padding: 10px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}

.save-delete{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.save-delete h2{
    color: #086948;
    cursor: pointer;
}

.save-delete h2:hover{
    text-decoration: 1px solid underline #086948;
}

.delete:hover{
    color: red;
}

.item-price{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;
}

.item-price-total{
    display: flex;
    align-self: center;
    column-gap: 1px;
    width: auto;
}

.item-price-calc span{
    color: #090a0a9c;
    font-weight: 600;
}

.item-price-calc{
    display: flex;
    align-self: flex-end;
    column-gap: 5px;
    background-color: #0869490c;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.price{
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: #090A0A;
}

.currency{
    color: #090A0A;
    font-size: 20px;
    font-weight: 600;
}

.breakdown{
    width: 25%;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.174);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 20px;
    position: sticky;
    top: 30px;
    right: 10px;
    background-color: white;
}

.delivery{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.dels{
    display: flex;
    align-items: center;
    column-gap:5px;
}

.dels p, .dels h2{
    font-size: 15px;
    font-weight: 600;
}

.dels h2{
    color: #090A0A;
    background-color: #0869493a;
    padding: 3px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.dels h2:hover{
    background-color: #090A0A;
    color: white;
}

.dels2{
    display: flex;
    column-gap: 5px;
}

.dels2 p, .dels2 h2{
    font-size: 12px;
    color: #090a0a9c;
}

.promo-code{
    display: flex;
    column-gap: 5px;
    height: 40px;
    width: 100%;
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.promo-code input{
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #086948;
    font-weight: 600;
    outline: none;
}

.promo-code input::placeholder{
    color: #086948;
    font-weight: 600;
}

.promo-code input[type=text]{
    text-transform: uppercase;
    padding: 10px;
}

.promo-code input[type=submit]{
    background-color: #090A0A;
    color: white;
    width: 30%;
}

.breaking{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}

.dets{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px dashed rgba(128, 128, 128, 0.318);
    padding-bottom: 5px;
    background-color: whitesmoke;
    padding:10px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px; */
}

.dets h2{
    /* text-align: start;
    width: 20%; */
}

.sub-total, .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-total h1, .sub-total h1 span,.total h1, .total h1 span{
    font-size: 17px;
}

.anyname{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.total h1 span{
    color: #a73ef8;
    font-weight: 600;
}

.checkout-proceed{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}














/*Footer*/
footer{
    background-color: #3c586b1f;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    margin-top: 100px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}