@font-face {
	font-display: block;
	font-family: "DSIndigo";
	font-style: normal;
	font-weight: 400;
	src: url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Regular.woff2")
			format("woff2"),
		url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Regular.woff")
			format("woff");
}

@font-face {
	font-display: block;
	font-family: "DSIndigo";
	font-style: normal;
	font-weight: 500;
	src: url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Medium.woff2")
			format("woff2"),
		url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Medium.woff")
			format("woff");
}

@font-face {
	font-display: block;
	font-family: "DSIndigo";
	font-style: normal;
	font-weight: 600;
	src: url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Semibold.woff2")
			format("woff2"),
		url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Semibold.woff")
			format("woff");
}

@font-face {
	font-display: block;
	font-family: "DSIndigo";
	font-style: normal;
	font-weight: 700;
	src: url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Bold.woff2")
			format("woff2"),
		url("https://docucdn-a.akamaihd.net/olive/fonts/2.8.0/DSIndigo-Bold.woff")
			format("woff");
}

/* @font-face {
 font-weight:400;
 font-style:normal;
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_reg.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_reg.woff) format("woff");
 font-display:swap;
 font-family:sofia
}
@font-face {
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_reg_subset.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_reg_subset.woff) format("woff");
 font-weight:400;
 font-style:normal;
 font-display:swap;
 font-family:sofia
}
@font-face {
 font-weight:700;
 font-style:normal;
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold.woff) format("woff");
 font-display:swap;
 font-family:sofia
}
@font-face {
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_subset.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_subset.woff) format("woff");
 font-weight:700;
 font-style:normal;
 font-display:swap;
 font-family:sofia
}
@font-face {
 font-weight:400;
 font-style:italic;
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_italic.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_italic.woff) format("woff");
 font-display:swap;
 font-family:sofia
}
@font-face {
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_italic_subset.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_italic_subset.woff) format("woff");
 font-weight:400;
 font-style:italic;
 font-display:swap;
 font-family:sofia
}
@font-face {
 font-weight:700;
 font-style:italic;
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_italic.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_italic.woff) format("woff");
 font-display:swap;
 font-family:sofia
}
@font-face {
 src:url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_italic_subset.woff2) format("woff2"),
 url(https://secure.img1-fg.wfcdn.com/st4/stores/common/fonts/sofia/sofia_bold_italic_subset.woff) format("woff");
 font-weight:700;
 font-style:italic;
 font-display:swap;
 font-family:sofia
}
@font-face {
 src:local(Arial);
 ascent-override:109.08203%;
 descent-override:27.05078%;
 line-gap-override:0;
 font-family:sofiaFallback
} */

*::-webkit-scrollbar {
	height: 100%;
	width: 4px;
	background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
	width: 4px;
	background-color: #0b6631;
}

*::-webkit-scrollbar-track {
	width: 4px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: DSIndigo;
	color: #090a0a;
	font-weight: 400;
	font-size: 0.95rem;
	scroll-behavior: smooth;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

html {
	opacity: 0;
	height: 100vh;
}

@keyframes pagefadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slimbanner {
	background-color: #0b6631;
	/* background-color:#81ffb5; */
	display: none;
	justify-content: center;
	align-items: center;
}

body {
	background-color: white;
	/* background-color: #f9fafc; */
	width: 100%;
}

#body {
	max-width: 2000px;
	margin: auto;
}
