#body {
    width: 90%;
    margin: auto;
}



.slimcontent {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.slimb-left,
.slimb-right {
    display: flex;
    column-gap: 20px;
    font-size: 12px;
    color: #bac0cab5;
    text-transform: capitalize;
}

.vhr {
    width: 1px;
    height: 100%;
    color: #bac0cab5;
}

.dis-more {
    text-decoration: 1px solid underline;
    color: #090A0A;
    font-weight: bold;
}


/*Top Nav*/

.top-nav {
    width: 100%;
    height: 10%;
    position: relative;
    border-radius: 3px;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    /* border-top: .7px solid #090A0A; */
    border-bottom: .7px solid #090a0a32;
    padding: 20px 10px;
}

nav,
.login-cart {
    width: 50%;
}

#nav-and-products {
    display: flex;
    align-items: center;
}

.products ul {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
    width: 100% inherit;
}

.products ul li {
    font-weight: 600;
}

.products {
    width: 100%;
}

.cart-box {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.cart-box:hover {
    background-color: #090a0a1b;
    cursor: pointer;
}

.cart-box p {
    background-color: #a73ef8;
    padding: 2px 5px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.login-cart {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
}

.login-cart img {
    width: 30px;
    height: 30px;
}

nav ul {
    display: none;
    align-items: center;
    column-gap: 40px;
    list-style: none;
}

nav ul li {
    color: #090A0A;
    font-size: 13px;
}

.menu {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#menu ul li {
    text-align: center;
    font-size: 15px;
    color: white;
}

#menu {
    background-color: #090A0A;
    box-shadow: 5px 30px 40px -20px #090a0a6e;
    width: 100%;
    height: 0px;
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#close {
    position: absolute;
    top: 27px;
    left: 15px;
    width: 25px;
    height: 25px;
}

#logo2 {
    color: white;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: 2px solid white;
    outline-offset: 2px;
    height: auto;
    top: 0;
}

.logo {
    cursor: pointer;
    color: #090A0A;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #090A0A;
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: 2px solid #090A0A;
    outline-offset: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.login {
    width: 100px;
    height: 50px;
    border-radius: 3px;
    border: none;
    background-color: white;
    border: 2px solid #090A0A;
    color: #090A0A;
    cursor: pointer;
    font-weight: 600;
}

.search-section {
    width: auto;
    height: 50px;
    display: flex;
    column-gap: 10px;
    bottom: 30px;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 2px;
}

.search {
    width: 90%;
    height: 100%;
    padding: 5px 5px 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /*background-color: transparent;
    */
    background-color: white;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.search:focus {
    background-color: white;
    border: 1px solid #090a0a90;
    outline: none;
}

.go {
    width: 50px;
    height: 100%;
    background-color: #090A0A;
    color: white;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/*Product Body*/


.noti-img {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
}

.notification {
    background-color: #81ffb5;
    width: 100%;
    height: 60px;
    /* border: 1px solid #368e5b9c; */
    box-shadow: 0px 10px 20px -10px #0a59545d;
    border-radius: 3px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.notification p,
.notification strong {
    color: #000006;
    font-weight: 600;
}

.notification strong {
    color: #a73ef8;
}

.notify-box {
    width: 300px;
    max-height: 280px;
    overflow-y: hidden;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9283920282;
    border-radius: 3px;
    /* box-shadow: 0px -20px 30px -20px whitesmoke inset; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#notify-box {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
}


.off {
    animation: notefadeout .7s ease;
    -webkit-animation: notefadeout .7s ease;
}

.on {
    animation: notefadein .7s ease;
    -webkit-animation: notefadein .7s ease;
}

.complete-off {
    opacity: 0;
}

.die {
    display: none;
}

@keyframes notefadein {
    0% {
        opacity: .0;
        height: 0px;
        padding: 0;
        transform: scale(.3);
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        -ms-transform: scale(.3);
        -o-transform: scale(.3);
        margin-top: 0px;
    }

    70% {
        opacity: 1;
        height: 60px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        margin-top: 5px;
    }

    100% {
        opacity: 1;
        height: 60px;
        margin-top: 10px;
    }
}

@keyframes notefadeout {
    0% {
        opacity: 1;
        height: initial;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        margin-top: 10px;
    }

    50% {
        margin-top: -10px;
        opacity: 1;
        padding: 0px;
        height: 50px;
    }

    70% {
        margin-top: -10px;
        opacity: 1;
        padding: 0px;
        height: 0px;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        height: 20px;
    }

    100% {
        height: 0px;
        opacity: 0;
        padding: 0px;
        margin-top: -10px;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
}

.body {
    margin-top: 30px;
    width: 100%;
    display: flex;
    column-gap: 50px;
    padding: 50px 0px 50px 10px;
}

.image {
    width: 45%;
    height: 100%;
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 10px;
    row-gap: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.image img {
    width: 90%;
    height: 600px;
}

.image-thumbnail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    overflow: hidden;
    width: 400px;
    height: 100px;
    padding: 10px;
}

.image-thumbnail button {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid #090a0a32;
    padding: 5px 10px;
    cursor: pointer;
}

.tbs {
    width: auto;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    background-color: #090a0a09;
}

.tbs img {
    width: 70px;
    height: 100%;
}

.tbnactive {
    outline: 2px solid orange;
    outline-offset: 5px;
}

.tbcon{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbs::-webkit-scrollbar {
    display: none;
}

.product-detail {
    width: 40%;
}

.product-details h1 {
    font-size: 40px;
    font-weight: 600;
    color: #090A0A;
}

.product-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.specifications {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.specifications p{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.specifications span{
    text-align: left;
    width: 40%;
    font-weight: 500;
}

.sep {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

strong {
    font-weight: 700;
}

.product-details h2 {
    font-weight: 600;
    font-size: 17px;
    color: #a73ef8;
}

.other-colors {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.other-colors h1 {
    font-size: 14px;
}

.circles {
    display: flex;
    column-gap: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.circle:hover, .active2 {
    outline: 2px dashed #090A0A;
    cursor: pointer;
}



#circle1 {
    background-color: #65645F;
}

#circle2 {
    background-color: #F2F4ED;
}

#circle3 {
    background-color: #F6E3C8;
}

#circle4 {
    background-color: #99B3CC;
}

.color-picked {
    display: flex;
    column-gap: 10px;
}

.color-picked h2 {
    font-weight: 500;
    font-size: 14px;
    color: #090A0A;
}

.qty {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.qty h2 {
    color: #090A0A;
    font-size: 14px;
}

.quantity {
    width: auto;
    height: 50px;
    display: flex;
    column-gap: 5px;
}

.quantity button,
.quantity input {
    height: 100%;
    border-radius: 3px;
    border: 1px solid #090a0a7a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.quantity button {
    background-color: transparent;
    border: 1px solid grey;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.quantity input {
    padding: 10px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}

.shipping-pickup {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.Pickup ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.Pickup {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.Pickup h1 {
    font-size: 16px;
}

.add-buy {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid rgba(112, 128, 144, 0.31);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-bottom-left-radius: 3px;
    height: auto;
    padding: 20px;
    position: relative;
    /* box-shadow: 0px 15px 30px -25px #090a0a94; */
}

.price-tag {
    width: auto;
    background-color: #a73ef8;
    display: flex;
    column-gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.price {
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: white;
}

.currency {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.add-cart-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.o-time {
    color: rgb(3, 114, 77);
}

.to-cart-buy {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.add-to-cart,
.buy-now {
    width: 100%;
    height: 50px;
    border: 2px solid #090A0A;
    background-color: white;
    font-weight: 600;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.buy-now {
    background-color: #090A0A;
    color: white;
}

/*Descriptions*/

.descriptions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px;
}

.drop-box {
    width: 100%;
    height: auto;
}

.group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: whitesmoke;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 20px;
}

.group-head h1 {
    font-size: 25px;
    font-weight: 700;
}

.group-head img {
    width: 30px;
    height: 30px;
}

.table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.levels {
    width: 100%;
    display: flex;
    height: auto;
    padding: 30px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}

.row-title {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
}

.row-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: auto;
}

.group-content h2 {
    font-weight: 700;
}

.tables {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
}

.tab {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px dashed rgba(128, 128, 128, 0.256);
    padding-bottom: 10px;
    */
    background-color: #090a0a09;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.tab h2,
.tab p {
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
}

footer {
    background-color: #3c586b1f;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}