.off {
	display: none;
}

#body {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.slimcontent {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 10px;
	width: 90%;
}

.slimb-left,
.slimb-right {
	display: flex;
	column-gap: 20px;
}

.slimb-left p,
.slimb-right p {
	font-size: 12px;
	color: #111111;
	text-transform: capitalize;
}

.vhr {
	width: 1px;
	height: 100%;
	color: #111111;
}

.dis-more {
	text-decoration: 1px solid underline;
	color: #111111;
	font-weight: bold;
}

/*Notification*/

.noti-img {
	width: 25px;
	min-width: 25px;
	height: 25px;
	min-height: 25px;
}

.notification {
	background-color: #81ffb5;
	width: 100%;
	height: 60px;
	/* border: 1px solid #368e5b9c; */
	box-shadow: 0px 10px 20px -10px #0a59545d;
	border-radius: 3px;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	column-gap: 15px;
	align-items: center;
	overflow: hidden;
	margin-top: 10px;
}

.notification p,
.notification strong {
	color: #000006;
	font-weight: 600;
}

.notification strong {
	color: #a73ef8;
}

.notify-box {
	width: 300px;
	max-height: 280px;
	overflow-y: hidden;
	height: auto;
	position: fixed;
	bottom: 20px;
	right: 0;
	margin: auto;
	z-index: 9283920282;
	border-radius: 3px;
	/* box-shadow: 0px -20px 30px -20px whitesmoke inset; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

#notify-box {
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	right: 0;
}

.off {
	animation: notefadeout 0.7s ease;
	-webkit-animation: notefadeout 0.7s ease;
}

.on {
	animation: notefadein 0.7s ease;
	-webkit-animation: notefadein 0.7s ease;
}

.complete-off {
	opacity: 0;
}

.die {
	display: none;
}

@keyframes notefadein {
	0% {
		opacity: 0;
		height: 0px;
		padding: 0;
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-ms-transform: scale(0.3);
		-o-transform: scale(0.3);
		margin-top: 0px;
	}

	70% {
		opacity: 1;
		height: 60px;
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		margin-top: 5px;
	}

	100% {
		opacity: 1;
		height: 60px;
		margin-top: 10px;
	}
}

@keyframes notefadeout {
	0% {
		opacity: 1;
		height: initial;
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		margin-top: 10px;
	}

	50% {
		margin-top: -10px;
		opacity: 1;
		padding: 0px;
		height: 40px;
	}

	70% {
		margin-top: -10px;
		opacity: 1;
		padding: 0px;
		height: 0px;
		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		height: 20px;
	}

	100% {
		height: 0px;
		opacity: 0;
		padding: 0px;
		margin-top: -10px;
		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
	}
}

/*Top Nav*/

.top-nav {
	width: 100%;
	height: 10%;
	background-color: transparent;
	position: relative;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	/* border-top: .7px solid #111111; */
	padding: 20px 40px;
}

nav,
.login-cart {
	width: 50%;
}

#nav-and-products {
	display: flex;
	align-items: center;
}

.products .main-links {
	display: flex;
	justify-content: center;
	list-style: none;
	column-gap: 30px;
	width: 100% inherit;
}

.products a {
	font-weight: 600;
	cursor: pointer;
	color: #111111;
}

.products {
	width: 100%;
}

.cart-box {
	width: 100px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.cart-box:hover {
	background-color: #f4f4f6;
}
.cart-box p {
	background-color: #111111;
	padding: 2px 5px;
	color: white;
	font-weight: 600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.login-cart {
	display: flex;
	align-items: center;
	justify-content: right;
	column-gap: 20px;
}

.login-cart img {
	width: 30px;
	height: 30px;
}

nav ul {
	display: none;
	align-items: center;
	column-gap: 40px;
	list-style: none;
}

nav ul li {
	color: #111111;
	font-size: 16px;
}

.menu {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.logo {
	cursor: pointer;
	color: #111111;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	/* border: 2px solid #111111; */
	padding: 10px;
	outline-offset: 2px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.login {
	width: 100px;
	height: 40px;
	border-radius: 3px;
	border: none;
	background-color: transparent;
	border: 2px solid #111111;
	color: #111111;
	cursor: pointer;
	font-weight: 600;
}

.menu-box {
	background-color: white;
	width: 300px;
	height: 100%;
	position: fixed;
	z-index: 499420942429292;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 0px 100vw #1111116a;
	display: none;
}

.cancel {
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0.6;
}

.cancel:hover {
	opacity: 1;
}

.main-menu {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
	width: 100%;
	z-index: -2;
}

.menu-cat {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menu-cat h1 {
	font-weight: 500;
	background-color: #f4f4f6;
	padding: 10px;
}

#kk {
	display: flex;
	flex-direction: column;
}

#kk a {
	font-size: 20px;
	min-width: 100%;
	padding: 15px 0px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

#kk a:hover {
	text-decoration: 2px solid underline #111111;
	text-underline-offset: 10px;
}

.search-section {
	width: auto;
	height: 40px;
	display: flex;
	column-gap: 10px;
	bottom: 30px;
	background-color: transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 2px;
}

.search {
	cursor: pointer;
	width: 90%;
	height: 100%;
	padding: 5px 5px 5px 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	/*background-color: transparent;
    */
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.search:focus {
	background-color: white;
	border: 1px solid #11111190;
	outline: none;
}

.go {
	width: 50px;
	height: 100%;
	background-color: #111111;
	color: white;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.searchcontainer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	background-color: white;
	z-index: 468969826896078458758715478578458752;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur(10px);
	display: none;
}

.search-mainbox {
	width: 70%;
	height: auto;
	/* background-color: white; */
	padding: 20px;
}

.searchbox,
.suggestion {
	width: 100%;
	height: auto;
	max-height: 50vh;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: auto;
	background-color: white;
	padding: 20px;
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.sug-holder {
	overflow-y: scroll;
}

#search {
	height: 45px;
	padding: 5px 20px;
	background-color: white;
	border: 2px solid #111111;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

#GO {
	width: 100%;
	height: 45px;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

#GO:hover {
	background-color: #111111cd;
}

.suggestion {
	margin-top: 20px;
}

.sug {
	display: flex;
	align-items: center;
	column-gap: 20px;
	padding: 15px 20px;
	cursor: pointer;
}

.sug img {
	width: 15px;
}

.sug:hover {
	background-color: #f4f4f6;
}

#sug-h1 {
	font-size: 20px;
}

.category {
	color: grey;
}

.dot {
	width: 7px;
	height: 7px;
	background-color: rgba(128, 128, 128, 0.706);
	align-self: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
/* Little Banner */

.littlebans {
	display: flex;
	column-gap: 30px;
	width: 100%;
}

.b-holder {
	width: 150px;
	height: 150px;
	outline: 2px dashed transparent;
	outline-offset: 0px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background: url("../images/stackphone.png");
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	/*box-shadow: 0px 20px 40px -10px rgba(112, 128, 144, 0.796);
    */
}

.b-holder:hover {
	outline-offset: 2px;
	outline: 2px dashed #111111;
}

.hol1 {
	/* background: url('../images/game.jpg'); */
	background-size: cover;
	background-position: center;
}

.hol2 {
	/* background: url('../images/cell.jpg'); */
	background-size: cover;
	background-position: center;
}

.hol3 {
	/* background: url('../images/wiin.jpg'); */
	background-size: cover;
	background-position: center;
}

.hol4 {
	/* background: url('../images/speak.jpg'); */
	background-size: cover;
	background-position: center;
}

.hol5 {
	/* background: url('../images/tele.jpg'); */
	background-size: cover;
	background-position: center;
}

/* Banner */
.banner-container {
	width: 100%;
	height: auto;
	position: relative;
	background-color: white;
	/* background: linear-gradient(to top, transparent 50%, #f4f4f6 50%);
	background: -webkit-linear-gradient(to top, transparent 50%, #f4f4f6 50%);
	background: -o-linear-gradient(to top, transparent 50%, #111111 50%);
	background: -moz-linear-gradient(to top, transparent 50%, #111111 50%); */
}

.banner-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
	height: auto;
	width: 100%;
	/* background-color: #00a1911b; */
	padding: 50px 30px;
}

.banner-content h1 {
	color: #111111;
	font-size: 50px;
	font-weight: 800;
	line-height: 1.1;
	text-transform: uppercase;
}

.banner-content span {
	width: 200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
	color: white;
	font-weight: 700;
	/*text-decoration: underline 0.5px solid #111111;
	*/
	text-underline-offset: 5px;
	cursor: pointer;
	background-color: #111111;
	box-shadow: #00000059 0px 6px 16px 0px;
}

.banner-content p {
	color: #111111cd;
	text-align: center;
	font-size: 18px;
}

.shopbtn {
	background-color: #111111;
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
	font-weight: 500;
	color: #111111;
	justify-self: flex-end;
}

.hero-grid {
	margin: auto;
	width: 100%;
	height: 70vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 5px;
	position: relative;
}

.ssp {
	width: 100%;
	height: 100%;
	position: relative;
}

#grid-0 {
	background-color: #7bded9;
	/* grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 2; */
	background-image: url(../images/spekk-big.jpg);
}
#grid-1 {
	background-color: #77e7b7;
	/* grid-row-start: 2;
	grid-column-start: 2;

	grid-row-end: 3;
	grid-column-end: 4; */
	background-image: url(../images/lapp-big-3.jpg);
}
#grid-2 {
	background-color: #7e5e7f;
	/* grid-row-start: 2;
	grid-column-start: 4;

	grid-row-end: 3;
	grid-column-end: 5; */
	background-image: url(../images/cell-big2.jpg);
}
#grid-3 {
	background-color: #a695bb;
	/* grid-row-start: 1;
	grid-column-start: 3;

	grid-row-end: 2;
	grid-column-end: 5; */
	background-image: url(../images/tvv.webp);
}
#grid-4 {
	background-color: #95bba9;
	/* grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 2;
	grid-column-end: 3; */
	background-image: url(../images/gamme.png);
}

.grid {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	position: relative;
}

/* .grid:hover {
	background-size: 120%;
} */

.shade {
	border-radius: 3px;
	width: 100%;
	height: 100%;
	background-color: #1111115f;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	padding: 20px;
	position: relative;
}

.cat-text {
	position: absolute;
	bottom: 30px;
	left: 80px;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	min-width: 380px;
	height: 50px;
	font-size: 30px;
	display: flex;
	align-items: center;
	font-weight: 700;
	padding: 15px;
	color: white;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.gridbtn {
	display: none;
	right: 20px;
	bottom: 35px;
	background-color: white;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: none;
	color: #111111;
	position: absolute;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}

.thinarrow {
	width: 35px;
	height: 35px;
}

.gridbtn img {
	width: 35px;
}

/* .gridbtn:hover {
	background-color: #111111a0;
} */

/* #top-cat {
	top: 10px;
} */

.fadeout {
	animation: fadeout 0.5s ease-in;
	-webkit-animation: fadeout 0.5s ease-in;
}

.fadein {
	animation: fadein 0.5s ease-in;
	-webkit-animation: fadein 0.5s ease-in;
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.welcome {
	color: #a73ef8;
	font-weight: bolder;
	letter-spacing: 1.3px;
	font-size: 20px;
	position: absolute;
	top: 5%;
	left: 2.5%;
}

.brands-sec {
	width: 90%;
	margin: auto;
	margin-top: 30px;
}

.brands {
	/* background-color: white; */
	width: auto;
	height: 100px;
	display: flex;
	column-gap: 10px;
	/* box-shadow: 0px 10px 20px -10px rgba(112, 128, 144, 0.193); */
	z-index: 1;
}

.brand-img {
	/* border: 1px solid grey; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 100%;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

.bimg1 {
	background-image: url("../images/apple-logo.png");
}

.bimg2 {
	background-image: url("../images/samsung-logo.png");
}

.bimg3 {
	background-image: url("../images/hp-logo.png");
}

.bimg4 {
	background-image: url("../images/midea-logo.png");
}

.bimg5 {
	background-image: url("../images/lg-logo.png");
}

.bimg6 {
	background-image: url("../images/hisense-logo.png");
}

.bimg7 {
	background-image: url("../images/toshiba-logo.png");
}

.bimg8 {
	background-image: url("../images/xbox-logo.png");
}

.extra-brand {
	display: none;
}

#tab-circles {
	height: 40px;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	z-index: 1000;
	position: absolute;
	bottom: 5%;
	left: 2.5%;
}

.slide-circle {
	width: 15px;
	height: 15px;
	border: 2px solid #111111;
}

.active-dot {
	background-color: #111111;
}

#sl-ar {
	width: 100px;
	height: 100px;
}

.sl-ar {
	width: 15px;
	height: 15px;
}

.about {
	width: 90%;
	height: auto;
	margin: auto;
	align-items: flex-start;
	flex-direction: row-reverse;
	column-gap: 20px;
	position: relative;
	margin-top: 50px;
}

.about-img {
	top: 0%;
	right: 10%;
	position: absolute;
	width: 300px;
	height: 100%;
	border-radius: 3px;
	-webkit-borderradius: 0px;
	-moz-borderradius: 0px;
	-ms-borderradius: 0px;
	-o-borderradius: 0px;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.about-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	row-gap: 40px;
	height: 100%;
	align-self: flex-start;
}

.aat h1 {
	font-size: 40px;
	font-weight: 700;
}

.aat p {
	width: 600px;
	font-size: 15px;
	color: #111111a4;
	margin-top: 20px;
	line-height: 1.4;
}

.about-boxes {
	/* background-color: #f4f4f6; */
	width: 100%;
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	column-gap: 10px;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.ab {
	display: flex;
	flex-direction: row;
	column-gap: 1px;
	width: 100%;
	background-color: #36454f28;
}

.about-box {
	width: 25%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*border: 1px solid rgba(128, 128, 128, 0.397);
	*/
	background-color: white;
	padding: 20px;
	/* background-color: #00a1911b; */
}

.about-box img {
	width: 50px;
	height: 50px;
}

.abimg {
	padding: 5px;
	/* background-color: #08694952; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 15px;
}

.abimg:nth-child(3) {
	background-color: red;
}

.a-text h2 {
	font-size: 15px;
	font-weight: 700;
	color: #111111;
	text-align: center;
}

.a-text p {
	margin-top: 5px;
	line-height: 1.2;
	text-align: center;
}
/*End Of Hero*/

.major-container {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	margin-top: 50px;
}

.recently-added {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0px;
	justify-content: center;
	align-items: center;
	/* background-color: #00000059; */
}

.sel {
	font-size: 22px;
	font-weight: 900;
	width: 30%;

	color: #111111;
}

#sel3 {
	color: #111111;
	text-align: center;
	text-transform: uppercase;
}

.mmw {
	height: 40px;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.recent-container {
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 30px;
	padding: 30px 0px;
	overflow-x: scroll;
}

.recent-container::-webkit-scrollbar {
	width: 100%;
	height: 2px;
	background-color: #f5f5f5;
}

.recent-container::-webkit-scrollbar-thumb {
	height: 2px;
	background-color: #111111;
}

.recent-container::-webkit-scrollbar-track {
	width: 1px;
}

#holder-rec {
	width: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	gap: 5px;
}

.recent {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	width: 500px;
	height: 250px;
	/* border-radius: 3px; */
	transition: 0.2s ease-in-out;
	/* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px; */
	cursor: pointer;
	box-shadow: none;
	position: relative;
}

.recent:hover {
	background-color: #f4f4f6;
	transition: 0.2s ease-in-out;
}

.recent img {
	width: 50%;
	height: 100%;
}

.receInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 10px;
	height: 100%;
	width: 60%;
	position: relative;
}

.receInfo .itemName2 {
	font-size: 11px;
	color: #111111b1;
}

.receInfo .itemPricing,
.currency {
	color: #111111;
	font-weight: 500;
}

.itemName {
	font-weight: 500;
	font-size: 17px;
	color: #111111;
	border-radius: 3px;

	font-weight: 600;
}

.itemInfo {
	color: #111111b1;
	line-height: 1.3;
}

.rec-det {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.recentPrice {
	font-size: 20px;
	font-weight: 500;
}

.itemPricing {
	font-weight: 700;
	font-size: 15px;
	color: #111111;
	border-radius: 3px;
}

.electronics {
	width: 100%;
	height: 400px;
	border-radius: 3px;
	background-image: url(../images/hm.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #111111;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.home {
	border-radius: 3px;
	padding: 30px;
	/* background-color: #4f90ab; */
	height: 100%;
	background: linear-gradient(to left, transparent 30%, #00534bd5 80%);
	background: -webkit-linear-gradient(to left, transparent 30%, #00534bd5 80%);
	background: -o-linear-gradient(to left, transparent 30%, #00534bd5 80%);
	background: -moz-linear-gradient(to left, transparent 30%, #00534bd5 80%);
}

.h-text {
	width: 40%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.home h1 {
	font-size: 50px;
	font-weight: 800;
	color: white;
}

.home p {
	font-size: 17px;
	color: #f4f4f6;
}

.home button {
	border: none;
	width: 150px;
	height: 45px;
}

/*Selected*/

.sell {
	width: 100%;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sel-box:hover .arr {
	opacity: 1;
}

.arr1 {
	top: 25%;
	left: 0%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.arr2 {
	right: 0%;
	top: 25%;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}

.arrcir:hover {
	background-color: #434242;
}

.arrcir {
	background-color: #111111;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

.arr {
	bottom: 0%;
	position: absolute;
	/* background-color: #11111118; */
	width: 50px;
	height: 470px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: absolute;
	z-index: 1333330;
}

.arr:hover {
	opacity: 1;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.arr img {
	width: 30px;
	height: 30px;
}

.selected-for-you {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.mmm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 30px;
	/* border-bottom: 1px solid #7080905c; */
	width: 100%;
}

.sel-up {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sel-table {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}

.mainsel {
	background-color: white;
	/* background-color: #002e25; */
	padding-right: 20px;
}

.h-rule {
	width: inherit;
	background-color: transparent;
	border: 0.5px solid slategray;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
	border-top: 0.5px;
}

.mls {
	width: 100%;
}

.sec-heading {
	font-weight: 600;
	font-size: 25px;
	color: #111111;
}

.sel {
	/* background-color: #111111; */
	/* width: 50%; */
}

.sel-table ul {
	display: flex;
	column-gap: 5px;
	list-style: none;
	height: 70px;
	align-self: flex-end;
	/* width: 70%; */
}

.sel-table ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	height: 50px;
	width: 100px;
	/* background-color: #f4f4f6; */
}

.sel-table ul li:hover {
	border: 2px solid #111111;
	color: white;
	background-color: #111111;
}

.inactive-li {
	color: #111111;
	border: 2px solid #111111;
	background-color: white;
}

.active-li {
	border: 2px solid #111111;
	color: white;
	background-color: #111111;
}

.view-all {
	font-weight: 500;
	font-size: 15px;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111111;
	cursor: pointer;
	column-gap: 5px;
}

.viewall-arrow {
	width: 25px;
	height: 25px;
}

.sel-container {
	padding: 0;
	display: flex;
	align-items: center;
	column-gap: 20px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: auto;
	height: auto;
	margin: auto;
	padding-bottom: 30px;
}

.sel-container::-webkit-scrollbar {
	width: 100%;
	height: 2px;
	background-color: #dfdfdf;
}

.sel-container::-webkit-scrollbar-thumb {
	height: 2px;
	background-color: #111111;
}

.sel-container::-webkit-scrollbar-track {
	width: 1px;
}

#sel-container {
	display: flex;
	align-items: center;
	column-gap: 20px;
	width: auto;
	height: auto;
	padding: 0px;
}

.sel-box {
	width: 340px;

	height: 470px;
	/*max-height: 400px;
    */
	padding: 0px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	border: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	background-color: #f4f4f6;
	/* border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px; */
	/* background-color: white; */
	/* box-shadow: 0px 15px 25px -10px #021e541a; */
}

.sel-box:hover {
	/* border: 1px solid rgba(112, 128, 144, 0.552); */
	/* background-color: #F6F6F6; */
	cursor: pointer;
	/* box-shadow: 0px 15px 25px -10px #021e541a; */
	/* box-shadow: 0px 15px 25px -10px #7080903b; */
	background-color: #f4f4f6;
}

.img-con {
	/* box-shadow: 0px 15px 25px -10px #7080903b; */
	/* background-color: white; */
	/* background-color: #002e2516; */
	/* background-color: #ffd700; */
	background-color: #f4f4f6;
	width: 100%;
	height: 65%;
	padding: 30px;
	border-top: 2px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	min-height: 270px;
	max-height: 300px;
}

#wk-con {
	background-color: ;
}

#main-con {
	background-color: ;
}

#rec-con {
	background-color: ;
}

.img-cont {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.sel-box img {
	width: 170px;
	height: 200px;
}

.sfu {
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	/* background-color: #f4f4f6; */
}

.text-hold {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}

.description-box {
	align-self: flex-start;
}

.itemName2 {
	text-align: left;
	font-weight: 600;
	font-size: 16px;
}

.item-description {
	/* background-color: #00534b8a; */
	white-space: wrap;
	max-height: 40px;
	min-height: 40px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 100%;
	font-weight: 500;
	color: #111111b5;
}

.price-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	row-gap: 5px;
}

.price {
	font-size: 25px;
	color: #111111;
	font-weight: 600;
	display: flex;
	column-gap: 2px;
}

#currency {
	font-size: 15px;
	font-weight: 800;
	color: #111111;
}

.old-price,
.old-price span {
	color: gray;
	text-decoration: 1px solid grey line-through;
	font-weight: 400;
	font-size: 15px;
	display: none;
}

.price-order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0px;
}

#addto-cart-img {
	width: 30px;
	height: 30px;
}

.cart-btn {
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	padding: 5px 8px;
	background-color: #111111;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	padding: 0px;
}

.cart-btn:hover {
	background-color: #1111111b;
}

.cart-btn:active {
	background-color: white;
	transition-duration: 0.05s;
}

.cart-btn p {
	color: white;
	text-transform: uppercase;
}

.weekly {
	/* background-color: #3c586b1f; */
	/* background-image: linear-gradient(10deg, #111111 30%, #0a595414 30%);
    background-image: -o-linear-gradient(10deg, #111111 30%, #0a595414 30%);
    background-image: -webkit-linear-gradient(10deg, #111111 30%, #0a595414 30%);
    background-image: -moz-linear-gradient(10deg, #111111 30%, #0a595414 30%); */
	/* borderradius: 0px;
    -webkit-borderradius: 0px;
    -moz-borderradius: 0px;
    -ms-borderradius: 0px;
    -o-borderradius: 0px; */
	width: 100%;
	height: 500%;
}

.Weekly-Container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 20px;
}

.weekly .sel-box:hover {
	background-color: #f4f4f6;
}

#weekly-feature {
	width: 100%;
}

#wkly {
	background-color: white;
}

#wkly .img-con {
	background-color: white;
}

#wkly {
	cursor: pointer;
	width: 20%;
	height: 100%;
	/* max-height: 400px; */
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#wkly img {
	width: 170px;
	height: 200px;
}

#wkly #addto-cart-img {
	width: 30px;
	height: 30px;
}

/*End Of SFY*/

/*Visit*/

.visit-out-support {
	margin-top: 70px;
	height: 150px;
	background-color: #111111;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 3px;
	-webkit-borderradius: 0px;
	-moz-borderradius: 0px;
	-ms-borderradius: 0px;
	-o-borderradius: 0px;
}

.vv {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	column-gap: 15px;
}

.vv img {
	width: 30px;
	height: 30px;
}

.vv h1 {
	color: white;
	font-size: 17px;
}

.visit {
	cursor: pointer;
	width: 150px;
	height: 50px;
	border: 2px solid #77c0ff;
	background-color: transparent;
	color: #77c0ff;
	font-size: 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.visit:hover {
	background-color: #77c0ff;
	color: #111111;
}

footer {
	background-color: #3c586b1f;
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

@media screen and (max-height: 800px) {
	.grid {
		min-height: 75vh;
	}
}

@media screen and (max-width: 768px) {
	.banner-container {
		margin-top: 60px;
		width: 90%;
		margin: auto;
	}

	.banner-content {
		margin-top: 80px;
	}

	.discount {
		font-size: 1px;
	}

	.menu-box {
		width: 100%;
	}
	.notify-box {
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	#mob-logo {
		display: block;
	}

	#kk li {
		font-size: 20px;
	}

	#web-logo {
		display: none;
	}

	.logo {
		font-size: 1rem;
		border: none;
		outline: none;
	}

	.cart-box:hover {
		background-color: #f4f4f6;
	}

	.search:focus,
	#search:focus {
		background-color: transparent;
	}

	.top-nav {
		padding: 0px 0px;
		width: 100%;
		margin: auto;
		position: absolute;
		top: 0;
		z-index: 67542890;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.login-cart {
		align-items: center;
	}

	.account {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo-nav {
		padding: 15px 0px;
		max-width: 90%;
		margin: auto;
	}

	#nav-and-products {
		column-gap: 15px;
	}

	.products {
		display: none;
	}

	.search-web {
		display: none;
	}

	.search-mobile {
		height: 45px;
		border: 1px solid #111111;
	}

	.logo-nav {
		width: 95%;
	}

	.login {
		display: none;
	}

	.cart-box {
		width: auto;
		height: auto;
		padding: 10px;
		background-color: #f4f4f6;
	}

	.cart-box:hover {
		background-color: #f4f4f6;
	}

	.searchcontainer {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 10px;
		background-color: white;
	}

	.searchbox {
		padding-top: 10px;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img {
		height: 20px;
		width: 20px;
	}

	.search-mainbox {
		width: 100%;
		/* background-color: white; */
		padding: 0px;
	}

	.suggestion {
		margin-top: 0;
		padding: 0px 20px 20px 20px;
	}

	.sug {
		padding: 10px 0px;
	}

	.search-cancel img:hover {
		padding: 2px;
	}

	.banner-content {
		padding: 40px;
	}

	.banner-content p {
		font-size: 16px;
		color: #111111cd;
	}

	.banner-content span {
		width: auto;
		padding: 10px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	}

	#hero-text {
		text-align: center;
		font-size: 2rem;
	}

	.hero-grid {
		display: flex;
		flex-direction: column;
		gap: 10px;
		height: auto;
	}

	.gridbtn {
		display: flex;
		right: 20px;
		bottom: 35px;
		background-color: white;
	}

	.grid {
		height: 50vh;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.brands {
		width: auto;
		column-gap: 30px;
		animation: move 12s linear infinite;
		-webkit-animation: move 12s linear infinite;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}

	@keyframes move {
		100% {
			opacity: 1;
			position: relative;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
		}
	}

	.brands-sec {
		overflow-x: hidden;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}

	.brand-img {
		border: 0.4px solid rgba(128, 128, 128, 0.26);
		width: 150px;
		height: 100%;
		background-size: 90%;
		background-color: white;
	}

	/* About */
	.about-box {
		padding: 10px;
	}

	/* Recents */
	#holder-rec {
		column-gap: 5px;
	}

	.mls {
		display: flex;
		column-gap: 0;
	}

	.resel {
		font-size: 20px;
		width: auto;
		padding: 0px;
	}

	.h-rule {
		width: 70%;
	}

	.recent {
		width: 70vw;
		height: 200px;
	}

	.recent img {
		width: 50%;
	}
	.mmm {
		flex-direction: column;
		row-gap: 30px;
		height: auto;
	}

	/* .sel-table::-webkit-scrollbar {
		display: none;
	} */

	.uarr {
		position: absolute;
		right: 0;
	}

	.sel-table {
		position: relative;
		height: 100%;
		overflow-x: scroll;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.sel-table::-webkit-scrollbar {
		display: none;
	}

	.sel-up {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.sel-table ul {
		height: 50px;
		width: 600px;
		column-gap: 5px;
		padding: 0;
	}

	.inactive-li {
		border: none;
		background-color: transparent;
		border: 2px solid #f4f4f6;
	}

	.active-li {
		background-color: #111111;
	}

	.sel-box {
		min-width: 45vw;
		max-width: 45vw;
		min-height: 320px;
		max-height: 320px;
		row-gap: 0px;
		padding: 0px;
		padding-bottom: 10px;
		/* background-color: transparent; */
		background-color: #f4f4f6;
	}

	.sel-container,
	.recent-container {
		padding-bottom: 15px;
	}

	.item-description {
		/* background-color: #00534b8a; */
		white-space: wrap;
		max-height: 20px;
		min-height: 20px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.sfu {
		height: 100%;
		padding: 10px;
	}

	.img-con {
		/* background-color: #00a1911b; */
		height: 65%;
		min-height: 180px;
		max-height: 190px;
		width: 100%;
		padding: 20px;
	}

	.img-cont {
		height: 100%;
		width: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.arr {
		height: 350px;
	}

	.arr1 {
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	.arr1,
	.arr2 {
		top: 37.5%;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	}

	.arrcir {
		width: 35px;
		height: 35px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		display: none;
	}

	.sel-container {
		/* background-color: rgba(0, 0, 255, 0.059); */
		height: auto;
	}

	.view-all {
		width: auto;
		background-color: white;
		color: #111111;
		padding: 0px 0px;
		border: 1px solid transparent;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.view-all:hover {
		/* background-color: #111111; */
		border-bottom: 1px solid #111111;
	}

	#sel-container {
		display: grid;

		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 5px 5px;
		height: auto;
	}

	.sec-heading {
		font-weight: 600;
		font-size: 30px;
		width: auto;
		font-size: 18px;
		text-transform: uppercase;
	}

	/* .view-all {
		text-align: center;
		background-color: #111111;
		color: white;
		text-transform: capitalize;
		padding: 10px 10px;
	} */

	.price-box {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
		align-items: flex-start;
		position: absolute;
		bottom: 0;
	}

	.cart-btn {
		opacity: 1;
		min-width: 100%;
		position: relative;
	}

	.price-order {
		flex-direction: column;
		row-gap: 10px;
		min-width: 100%;
	}

	.cart-btn .old-price,
	.old-price span {
		align-self: flex-start;
	}

	.Weekly-Container {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 5px;
	}

	/*Electornic*/
	.electronics {
		height: auto;
	}
	.h-text {
		width: 80%;
	}

	.h-text h1 {
		font-size: 2.4rem;
	}

	.home {
		background: linear-gradient(to left, transparent 0%, #11111198 0%);
		background: -webkit-linear-gradient(to left, transparent 0%, 11111198 0%);
		background: -o-linear-gradient(to left, transparent 0%, 11111198 0%);
		background: -moz-linear-gradient(to left, transparent 0%, 11111198 0%);
	}

	/*About*/
	.about {
		height: auto;
		/* background-color: #f4f4f6; */
		width: 100%;
		margin-top: 25px;
		padding: 0px;
	}

	.ab {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		row-gap: 1px;
	}

	.about-img {
		display: none;
	}

	.aat h1 {
		font-size: 28px;
	}

	.aat,
	.aat p {
		width: 100%;
	}

	.about-text-container {
		width: 100%;
	}

	.about-boxes {
		width: 100%;
	}

	.about-box {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.a-text p {
		text-align: left;
		padding-left: 5px;
	}

	.abimg {
		justify-items: flex-start;
		align-items: flex-start;
		width: 100%;
	}

	.abimg h2 {
		font-weight: 600;
		font-size: 25px;
	}

	.abimg img {
		justify-self: flex-start;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.major-container,
	.about,
	.banner-container {
		width: 95%;
		margin: auto;
	}

	.major-container,
	.about {
		margin-top: 50px;
	}

	#mob-logo {
		display: block;
	}

	#web-logo {
		display: none;
		margin: 0;
		justify-self: center;
		width: auto;
		height: auto;
		padding: 0;
		transform: translateX(50%);
		top: 50%;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-ms-transform: translateX(50%);
		-o-transform: translateX(50%);
	}

	.justme {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.logo {
		font-size: 1.3rem;
		border: none;
		outline: none;
	}

	.cart-box:hover {
		background-color: #f4f4f6;
	}

	.search:focus,
	#search:focus {
		background-color: transparent;
	}

	.top-nav {
		padding: 0px 0px;
		width: 95%;
		margin: auto;
	}

	.login-cart {
		display: flex;
		align-items: center;
		width: auto;
	}

	.account {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo-nav {
		padding: 15px 0px;
		position: relative;
	}

	#nav-and-products {
		column-gap: 15px;
		width: auto;
	}

	.products {
		display: none;
	}

	.search-web {
		display: none;
	}

	.search-mobile {
		height: 45px;
		border: 1px solid #111111;
	}

	.login-cart {
		column-gap: 20px;
	}

	.login-cart img {
		width: 20px;
		height: 20px;
	}

	.login {
		display: none;
	}

	.account {
		display: flex;
	}

	.cart-box {
		width: auto;
		height: auto;
		padding: 10px;
	}

	.cart-box:hover {
		background-color: #f4f4f6;
	}

	.searchbox {
		width: 100%;
	}

	.search-mobile {
		display: none;
		border: none;
	}

	.search {
		width: 100%;
		padding: 5px 10px;
		border: none;
		box-shadow: none;
	}

	.search:hover,
	.search:focus {
		border: none;
	}

	.serc-img img {
		width: 20px;
		height: 20px;
	}

	.serc-img {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-web {
		padding: 0px;
		width: 150px;
		padding: none;
		display: flex;
		column-gap: 0px;
		align-items: center;
		border: 1px solid #11111135;
	}

	#searc-cart {
		display: none;
		width: auto;
		padding: 15px;
		position: relative;
		/* background-image: url(../images/search.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat; */
	}

	.search-mainbox {
		width: 90%;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img:hover {
		padding: 4px;
	}

	.search-cancel img {
		width: 30px;
		height: 30px;
		float: right;
	}

	#body {
		max-width: 2000px;
		margin: auto;
	}

	.top-nav {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0%;
		top: 0;
		margin: auto;
		padding: 0px;
		z-index: 949499429249;
	}

	.logo-nav {
		width: 95%;
		padding: 0px;
	}

	#user-img {
		width: 23px;
		height: 23px;
	}

	#cart-img {
		width: 23px;
		height: 23px;
	}

	/*Banner*/

	.banner-content {
		margin-top: 100px;
		padding-top: 20px;
	}

	.brands {
		width: auto;
		column-gap: 30px;
		animation: move 12s linear infinite;
		-webkit-animation: move 12s linear infinite;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}

	@keyframes move {
		100% {
			opacity: 1;
			position: relative;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
		}
	}

	.brands-sec {
		overflow-x: hidden;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}

	.brand-img {
		border: 0.4px solid rgba(128, 128, 128, 0.26);
		width: 150px;
		height: 100%;
		background-size: 90%;
		background-color: white;
	}

	/*Menu*/
	#kk li {
		font-size: 20px;
	}

	/* Grid */
	#hero-text {
		text-align: center;
		font-size: 45px;
	}
	.hero-grid {
		display: flex;
	}

	.grid {
		width: 10%;
	}

	.cat-text {
		left: 60px;
	}

	.gridbtn {
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.gridbtn img {
		width: 35px;
	}

	/* About */
	.about-box {
		padding: 10px;
	}

	/* Recents */
	#holder-rec {
		column-gap: 5px;
	}

	.mls {
		display: flex;
		column-gap: 0;
	}

	.resel {
		font-size: 20px;
		width: auto;
		padding: 0px;
	}

	.h-rule {
		width: 70%;
	}

	.recent {
		width: 70vw;
		height: 200px;
	}

	.recent img {
		width: 50%;
	}
	.mmm {
		flex-direction: column;
		row-gap: 30px;
		height: auto;
	}

	/* .sel-table::-webkit-scrollbar {
		display: none;
	} */

	.uarr {
		position: absolute;
		right: 0;
	}

	.sel-table {
		position: relative;
		height: 100%;
		overflow-x: scroll;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.sel-up {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.sel-table ul {
		height: 50px;
		width: 600px;
		column-gap: 10px;
		padding: 0;
	}

	/* .sel-table ul li {
		background-color: #111111;
		color: white;
	} */

	.sel-box {
		width: 300px;
		min-height: 400px;
		max-height: 400px;
		row-gap: 5px;
		padding-bottom: 10px;
	}

	.sfu {
		height: 100%;
	}

	.img-con {
		/* background-color: #00a1911b; */
		height: 65%;
		min-height: 65%;
		max-height: 270px;
		width: 100%;
		padding: 20px;
	}

	.img-cont {
		height: 100%;
		width: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.arr {
		height: 350px;
	}

	.arr1 {
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	.arr1,
	.arr2 {
		top: 33%;
	}

	.arrcir {
		width: 35px;
		height: 35px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	}

	#sel-container {
		display: grid;

		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 5px;
		height: auto;
	}

	.sec-heading {
		font-weight: 600;
		font-size: 30px;
	}

	.view-all {
		text-align: center;
		background-color: transparent;
		color: #111111;
		text-decoration: 1px solid #111111 underline;
		text-underline-offset: 5px;
		text-transform: capitalize;
	}

	.price-box {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
		align-items: flex-start;
		bottom: 0;
	}

	.old-price,
	.old-price span {
		align-self: flex-start;
	}

	.Weekly-Container {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 5px;
	}

	/*Electornic*/
	.electronics {
		height: auto;
	}
	.h-text {
		width: 80%;
	}

	.h-text h1 {
		font-size: 2.4rem;
	}

	/*About*/
	/*About*/
	.about {
		height: auto;
		background-color: transparent;
		width: 100%;
		margin-top: 25px;
		padding: 20px;
	}

	.ab {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 1px;
	}

	.about-img {
		display: none;
	}

	.aat,
	.aat p {
		width: 100%;
	}

	.about-text-container {
		width: 100%;
	}

	.about-boxes {
		width: 100%;
		background-color: transparent;
	}

	.about-box {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
	}

	.a-text p {
		text-align: left;
		padding-left: 5px;
	}

	.abimg {
		justify-content: flex-start;
		align-items: center;
		column-gap: 20px;
		width: 100%;
		flex-direction: row;
	}

	.abimg h2 {
		font-weight: 600;
		font-size: 25px;
	}

	.abimg img {
		justify-self: flex-start;
	}

	.h-text p {
		width: 50%;
	}
}

@media screen and (min-width: 1201px) {
	#body {
		width: 95%;
	}

	.sec-heading {
		font-weight: 600;
		font-size: 30px;
	}

	.major-container {
		width: 100%;
	}

	#mob-logo {
		display: none;
	}

	#kk li {
		font-size: 20px;
	}

	.search-mobile,
	.account {
		display: none;
		border: none;
	}

	.search {
		width: 100%;
		padding: 5px 10px;
		border: none;
		box-shadow: none;
	}

	.search:hover,
	.search:focus {
		border: none;
	}

	.serc-img img {
		width: 20px;
		height: 20px;
	}

	.serc-img {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-web {
		padding: 0px;
		width: 150px;
		padding: none;
		display: flex;
		column-gap: 0px;
		align-items: center;
		border: 1px solid #11111135;
	}

	#searc-cart {
		display: none;
		width: auto;
		padding: 15px;
		position: relative;
		/* background-image: url(../images/search.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat; */
	}

	.searchcontainer {
		left: 0;
	}

	.search-mainbox {
		width: 90%;
	}

	.search-cancel {
		width: 100%;
		height: 40px;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.search-cancel h1 {
		font-size: 15px;
		font-weight: 500;
	}

	.search-cancel img:hover {
		padding: 4px;
	}

	.search-cancel img {
		width: 30px;
		height: 30px;
		float: right;
	}

	.top-nav {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0%;
		margin: auto;
		padding: 0px;
		z-index: 551875482587547858758592898548258529845892498258482892589259845285985;
	}

	.logo-nav {
		width: 95%;
		padding: 0px;
	}

	.banner-container {
		margin-top: 100px;
	}

	.banner-content {
		width: 90%;
		margin: auto;
	}

	#hero-text {
		text-align: center;
	}

	.about-text-container,
	.about {
		width: 100%;
	}

	.abimg h2 {
		font-weight: 600;
	}

	.sel-box {
		min-height: 420px;
		max-height: 420px;
		row-gap: 0px;
		padding: 5px;
		/* background-color: #f4f4f6; */
	}

	#sel-container,
	.Weekly-Container {
		gap: 5px;
	}

	.hero-grid {
		display: flex;
	}

	.grid {
		width: 10%;
	}

	.viewall-arrow {
		display: none;
	}
}
